<footer>
    <div class="copyright">
        Copyright &copy; SMVDU <span id="footer-year"></span>. All Rights Reserved
    </div>
    <div>
        <a href="https://www.facebook.com/SMVDUniversity/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://www.linkedin.com/school/shri-mata-vaishno-devi-university" target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://www.pinterest.com/shrimatavaishnodeviuniversity" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-pinterest fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://smvdu.tumblr.com/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tumblr fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://twitter.com/smvduofficial" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-x-twitter fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://www.youtube.com/SMVDUniversity" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube fa-lg" style="color: #50bd77;"></i>
        </a>
        <a href="https://www.instagram.com/smvduniversityofficial/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram fa-lg" style="color: #50bd77;"></i>
        </a>
    </div>
</footer>