/* navbar */
nav{
    padding: 0px !important;
}

nav .container-fluid{
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    padding-top: 8px;
    padding-bottom: 6px;
}

nav .nav-lef{
    display: flex;
}

nav .nav-ryt{
    display: flex;
}

nav .nav-ryt .nav-rounded-circle{
    border-radius: 50%;
}

nav .nav-ryt .create-btn{
    margin: 0 14px 0 0;
}

nav .nav-ryt .user-icon{
    margin: auto;
}

body {
    font-family: "Varela Round", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    align-items: center;
}

/* footer */
footer{
    background-color: #102449;
    height: 8rem;
    padding: 33px 20px;
    color: grey;
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    
}

footer .fa-brands{
    padding-left: 0.5rem;
}

/* login */
.login-container{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.login {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.login-button:hover{
    cursor: pointer;
}

.login-button:hover {
    background-color: #357ae8;
}


/* club */
.club-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

/* club specific pages */
.heading-club h2{
    text-align: center;
    font-family: "Oswald", "sans-serif";
    font-size: 40px;
}

.desc-btn a{
    text-decoration: none;
}

.coord {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coord-items {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 10px;
}

.coord-img img {
    border-radius: 50%;

}

