<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <br><br>
            <h3>Create a new Post</h3>
            <form id="clubForm" method="post" action="" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="title" class="form-control"
                        placeholder="Add your club title" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" placeholder="enter description"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a description.</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="image" class="form-label">Upload Club Image</label>
                        <input type="file" name="club[image]" id="image" class="form-control" required>
                    </div>
                </div>
                <button class="btn btn-dark add-btn mt-3">Create Club</button>
                <br><br>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("clubForm");
            var currentUrl = window.location.href;
            form.action = currentUrl.replace("/new", "");
        });
    </script>