<%- layout("/layouts/boilerplate") %>
    <div class="login-container">
        <div class="login">
            <h1>Login with Google</h1>
            <a onclick="openGoogleLogin()" class="login-button">Login with Google</a>
        </div>
    </div>
